:root {
    --color-principal: #0a1a2a;
    --blanco: #ffffff;
    --blacno-claro: whitesmoke;
    --negro: #000;
    --font-primaria: 'Caveat', cursive;
    --font-secundaria: 'Radio Canada', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*Globales*/

body {
    background-color: var(--blacno-claro);
}

/*--------HEADER AND NAVBAR-------------*/

.header {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    height: 8rem;
}

.navegacion {
    padding-top: 1.9rem;
    padding-bottom: .4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.navegacion__item {
    padding: .5rem 0;
    text-decoration: none;
    color: var(--negro);
    font-family: var(--font-secundaria);
    font-size: 20px;
}

.navegacion__item:hover{
    background-color: var(--color-principal);
    border-radius: 5px;
    color: var(--blanco);
    transition: .40s;
}

/*-------------BODY--------------*/

.container-titulo {
    background-color: var(--color-principal);
    padding: 2rem 0;
    margin-bottom: 2rem;
}

.productos {
    width: 100%;
    text-align: center;
}

.titulo-fotos {
    font-size: 40px;
    font-family: var(--font-primaria);
    color: var(--blanco);
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto {
    padding: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto__imagen {
    width: 200px;
    border-radius: 2rem;
    box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.3);
} 
/*--------Ventana Modal----------*/
#btn-modal{
    display: none;
}

.pepe{
    color: var(--blanco);
    text-decoration-line:overline;
    font-family: var(--font-secundaria);
    font-weight: 700;
    font-size: 25px;    
}

.pepe2{
    font-family: var(--font-secundaria);
    font-weight: 700;
    font-size: 15px;
    color:#ffffff;
}

.container-modal{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(23, 23, 23, 0.7);
    z-index: 999999;
    top: 0; left: 0;
    visibility: hidden;

}

.content-modal{
    width: 100%;
    max-width: 400px;
    background-color: var(--blanco);
    border-radius: 4px;
    padding: 20px;
    outline: 0;
}

.content-modal-title{
    margin-bottom: 15px;
    font-family: var(--font-secundaria);
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
}

.content-modal-text{
    padding: 15px 0px;
    border-top: 1px solid #dbd;
    border-bottom: 1px solid #dbd;
    font-family: var(--font-secundaria);
    font-size: 20px;
}

.btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    font-family: var(--font-secundaria);
    font-size: 15px;
}

.btn-cerrar label{
    padding: 7px 10px;
    background-color: #5488a3;
    color: var(--blanco);
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn-cerrar label:hover{
    background-color: #185e83;
}

/*#btn-modal:checked ~ .container-modal{
    visibility: hidden;
}*/

.producto__vista{
    position: relative;
}

.producto__enlace{
    cursor: pointer;
    font-size: 20px;
    color: var(--color-principal);
    padding: 5px 10px;
    position: absolute;
    right: 0;
}

.producto__enlace:hover{
    color: #FA4717;
    transition: .2s;
}

.producto__carrito{
    position: absolute;
    font-size: 20px;
    color: var(--color-principal);
    cursor: pointer;
    padding: 5px 10px; 
}

.producto__carrito:hover{
    color: #FA4717;
    transition: .2s;
}

.cerrar-modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}

@media (min-width:320px) and (max-width:800px) {
    .content-modal{
        width: 90%;
    }
}

@media (min-width:480px) {
    .producto__imagen {
        width: 45rem;
        border-radius: 2rem;
        box-shadow: 0 1px 1.5px rgba(0, 0, 0, 0.3);
    } 
}

.producto__enlace {
    text-decoration: none;
}

.producto__informacion {
    font-family: var(--font-secundaria);
    font-size: 20px;
}

/*----------FOOTER----------*/
.pie-pagina {
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-1 {
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo-footer {
    width: 25rem;
    padding: 1rem 0;
}

.group-1 {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
}

.box h3 {
    font-family: var(--font-primaria);
    font-size: 2.5rem;
}

.box p {
    font-family: var(--font-secundaria);
    font-size: 1.6rem;
}

.red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: black;
    font-size: 16px;
}

.red-social a:hover {
    color: blue;
    transition: .2s;
}

.group-2 {
    width: 100%;
}

@media (min-width:768px) {
    .header {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: row;
    }

    .img {
        height: 4.5rem;
        margin-left: 2rem;
        flex-basis: 10%;
        padding-top: .5rem;
    }

    /*Nav*/
    .navegacion {
        gap: 3rem;
        justify-content: center;
        flex-direction: row;
        flex-basis: 90%;
        padding-bottom: 1rem;
        margin-left: 5rem;
    }

    .navegacion__item {
        font-size: 1.6rem;
        text-decoration: none;
        color: var(--negro);
        font-family: var(--font-secundaria);
        text-transform: uppercase;
        padding: .8rem 1rem;
    }

    .img:hover {
        cursor: pointer;
    }

    .navegacion__item:hover {
        color: var(--blanco);
        background-color: var(--color-principal);
        border-radius: .3rem;
    }

    /*Section Productos*/

    .titulo-fotos {
        font-size: 4rem;
        font-family: var(--font-primaria);
        margin: 0;
    }

    .producto__imagen {
        width: 300px;
        height: 300px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    /*Footer*/

    .group-1 {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
        grid-template-rows: none;
    }


    .img-logo-footer {
        width: 250px;
    }
}


.group-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: white;
    font-family: 'Radio Canada', sans-serif;
}

.p-group-2 {
    font-size: 12.8px;
}