:root {
    --color-principal: #0a1a2a;
    --color-secundario: #ffffff;
    --color-terciario: whitesmoke;
    --negro: #000;
    --font-primaria: 'Caveat', cursive;
    --font-secundaria: 'Radio Canada', sans-serif;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--color-terciario);
}


.navbar {
    display: block;
    background-color: white;
}

.puto {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 1rem;
}

.logo {
    height: 8rem;
}

.list-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

.item-ref {
    color: #000;
    text-decoration: none;
    font-family: var(--font-secundaria);
    font-size: 20px;
}

.item {
    padding: .4rem 0;
}

/*-------------------BODY-------------------*/

.title-h {
    background-color: var(--color-principal);
    width: 100%;
    padding: 2rem 0;
}

.text-t-h {
    text-align: center;
    font-family: var(--font-primaria);
    font-size: 30px;
    color: var(--color-secundario);
    margin: 0;
}

.container-history {
    background-color: var(--color-secundario);
    margin: 1rem 0;
    padding: 2rem 0;
}
.text-h {
    font-family: var(--font-secundaria);
    font-size: 20px;
    text-align: center;
}

/*-------FOOTER------Mobile*/

.pie-pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-secundario);
}

.box-1 {
    width: 100%;
}

.img-logo-footer {
    width: 25rem;
    padding: 2rem 0;
}

.group-1 {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
}

.box h3 {
    margin-bottom: 25px;
    font-family: 'Caveat', cursive;
    font-size: 28px;
}

.box p {
    margin-bottom: 10px;
    font-family: 'Radio Canada', sans-serif;
    font-size: 17px;
}

.red-social a {
    display: inline-block;
    text-decoration: none;
    color: var(--negro);
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
}

.red-social a:hover {
    color: blue;
    transition: .2s;
}

.group-2 {
    width: 100%;
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: white;
    font-family: 'Radio Canada', sans-serif;
    font-size: 17px;
}

/*------Web-----*/
@media (min-width:768px) {
    .navbar {
        height: 60px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        display: flex;
    }

    .puto {
        flex-basis: 10%;
        display: flex;
        justify-content: left;
        padding: 0;
    }

    .logo-page {
        font-size: 30px;
        display: flex;
        align-items: center;
    }

    .logo {
        height: 40px;
        margin-left: 1rem;
    }

    .list-navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-basis: 90%;
    }

    .item {
        font-size: 16px;
    }

    .item-ref {
        font-size: 16px;
        line-height: 2rem;
        border-radius: 1.8px;
        padding: .5em .7em;
    }

    .item-ref:hover {
        background-color: #0a1a2a;
        color: white;
        transition: .2s;
    }
/* ------------------------------BODY----------------------------*/

    .title-h {
        background-color: #0a1a2a;
        text-align: center;
    }

    .text-t-h {
        font-size: 50px;
    }

    .container-history {
        width: 100%;
    }

    /*-------------------FOOTER---------------------*/

    .group-1 {
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: none;
        padding: 2rem 0;
        column-gap: 2rem;
    }

    .box {
      padding-top: 2rem;
    }

    .img-logo-footer {
        width: 250px;
    }
}