:root{
    --color-principal: #0a1a2a;
    --color-secundario: #ffffff;
    --color-terciario: whitesmoke;
    --negro: #000;
    --font-primaria: 'Caveat', cursive;
    --font-secundaria: 'Radio Canada', sans-serif;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    background-color: var(--color-terciario);
}

.navbar{
    background-color: var(--color-secundario);
    height: 65px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    display: flex;
}

.logo-page{
    margin-left: 20px;
    font-size: 30px;
    display: inline-block;
    margin-top: 5px;
    padding-top: 5px;
}

.logo{
    height: 40px;
}

.list-navbar{
    margin-left: 280px;
    display: inline-block;
    justify-content: center;
    margin-top: 25px;
}

.item{
    display: inline-flex;
    padding-left: 20px;
    font-size: 16px;
}

.item-ref{
    text-decoration: none;
    color: var(--negro);
    font-family: var(--font-secundaria);
    font-size: 16px;
    line-height: 2rem;
    border-radius: 1.5px;
    padding: .5rem 0;
}

.item-ref:hover{
    background-color: #0a1a2a;
    color: white;
    transition: .2s;
}

.history{
    background-color: white;
    height: 400px;
}

.title-h{
    height: 100px;
    background-color: #0a1a2a;
}

.text-t-h{
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 40px;
    padding-top: 22px;
    padding-left: 560px;
}
.text-h{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    font-family: var(--font-secundaria);
    font-size: 2rem;
}

.container-history{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 400px;
    background-color: white;
}

.space-th-b{
    height: 20px;
}

/*FOOTER*/

.space-p2-p3{
    height: 40px;
}

.btn{
    margin-left: 17rem;
    text-decoration: none;
    color: black;
    border-style: solid;
    border-width: thin;
    padding: 16px 36px 13px;
    border-radius: 50px;
    font-family: 'Radio Canada', sans-serif;
    font-weight: bold;
}

.btn:hover{
    background: blueviolet;
    color: white;
    transition: .2s;
}

.pie-pagina{
    background-color: white;
    width: 100%;
}

.group-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.box-1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-logo-footer{
    width: 250px;
}

.box-2 h3{
    margin-bottom: 25px;
    font-family: 'Caveat', cursive;
    font-size: 25px;
}

.box-2 p{
    margin-bottom: 10px;
    font-family: 'Radio Canada', sans-serif;
    font-size: 16px;
}

.box-3 h3{
    margin-bottom: 25px;
    font-family: 'Caveat', cursive;
    font-size: 25px;
}

.box-3 p{
    margin-bottom: 10px;
    font-family: 'Radio Canada', sans-serif;
    font-size: 16px;
}

.box-4 h3{
    margin-bottom: 25px;
    font-family: 'Caveat', cursive;
    font-size: 25px;
}

.red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: black;
    font-size: 16px;
}

.red-social a:hover{
    color: blue;
    transition: .2s;
}

.group-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: white;
    font-family: 'Radio Canada', sans-serif;   
}

.p-group-2{
    font-size: 12.8px;
}